<div>
  <div *ngIf="sessionUser == null">
    <mat-card class="overview" *ngIf="actualRock != null">
      <mat-card-title>

        <div>{{actualRock.name}} </div>

      </mat-card-title>
      <mat-card-content>
        <span>{{actualRock.description}}</span>
        <div *ngIf="!routes">
          <span>Es sind noch keine Felsen eingetragen</span>
        </div>
        <div *ngIf="routes">
          <mat-card class="cards">
            <mat-card-title class="cardcontent">
              <div class="preview">
                <div class="titelwithcheck">
                  <div *ngIf="routes[0].complete===true" class="material-icons">done</div>
                  <div *ngIf="routes[0].complete===false" class="material-icons">highlight_off</div>
                  <div class="title">{{routes[0].name}}</div>
                </div>
              </div>
              <div class="buttons">
                <button class="buttoninfo" mat-raised-button
                        (click)="saveParam(routes[0].clientId, actualRock.name, routes[0].name)" color="accent">Infos
                </button>
              </div>
            </mat-card-title>
          </mat-card>
          <div class="userNotLoggedInMessage">Da du nicht angemeldet bist, wird dir nur die erste Route dieses Felsens als Beispiel angezeigt.
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="sessionUser != null">
    <div class="createform">
      <mat-accordion *ngIf="sessionUser.role == '[ROLE_ADMIN]'">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Neue Route erstellen
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              <form (ngSubmit)="createRoute(form.value)" #form="ngForm">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" name="name" matInput placeholder="Name" ngModel required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Schwierigkeit</mat-label>
                    <input type="text" name="difficulty" matInput placeholder="Schwierigkeitsgrad"
                           ngModel>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Beschreibung</mat-label>
                    <textarea type="text" name="description" matInput placeholder="Beschreibung" ngModel></textarea>
                  </mat-form-field>
                </p>
                <div class="submitbutton">
                  <button type="submit" mat-raised-button [disabled]="!form.valid">Erstellen</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-card class="overview" *ngIf="actualRock != null">
      <mat-card-title>
        <div class="overview-title">
          <div>{{actualRock.name}}</div>
          <div *ngIf="actualRock.complete===true" (click)="setRockDone()" class="material-icons">done</div>
          <div *ngIf="actualRock.complete===false" (click)="setRockDone()" class="material-icons">highlight_off</div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <span>{{actualRock.description}}</span>
        <div class="updateform" *ngIf="sessionUser != null">
          <mat-accordion *ngIf="sessionUser.role == '[ROLE_ADMIN]'">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Fels bearbeiten
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-content>
                  <form (ngSubmit)="updateRock()">
                    <p>
                      <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input type="text" name="name" matInput placeholder="{{actualRock.name}}"
                               [(ngModel)]="actualRock.name">
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="fill">
                        <mat-label>Beschreibung</mat-label>
                        <textarea type="text" name="description" matInput placeholder="{{actualRock.description}}"
                                  [(ngModel)]="actualRock.description"></textarea>
                      </mat-form-field>
                    </p>
                    <div class="submitbutton">
                      <button type="submit" mat-raised-button>Bearbeiten</button>
                    </div>
                  </form>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="!routes">
          <span>Es sind noch keine Routen eingetragen</span>
        </div>
        <div *ngIf="routes">
          <mat-card class="cards" *ngFor="let route of routes">
            <mat-card-title>
              <div class="preview">
                <div class="titelwithcheck">
                  <div *ngIf="route.complete===true" class="material-icons">done</div>
                  <div *ngIf="route.complete===false" class="material-icons">highlight_off</div>
                  <div class="title">{{route.name}}</div>
                  <div>{{route.difficulty}}</div>
                </div>
                <div *ngIf="sessionUser != null && sessionUser.role == '[ROLE_ADMIN]'" style="font-size: 10px">Erstellt
                  am: {{route.date}}</div>
                <div *ngIf="sessionUser != null && sessionUser.role == '[ROLE_ADMIN]'" style="font-size: 10px">Zuletzt geändert
                  am: {{route.update}}</div>
              </div>
              <div class="buttons">
                <button class="buttoninfo" mat-raised-button
                        (click)="saveParam(route.clientId, actualRock.name, route.name)" color="accent">
                  Infos
                </button>
                <button mat-raised-button *ngIf="sessionUser.role == '[ROLE_ADMIN]'"
                        (click)="deleteRoute(route.clientId, route.name)" color="warn">Löschen
                </button>
              </div>
            </mat-card-title>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
