<div>
  <div *ngIf="sessionUser == null">
    <mat-card class="overview" *ngIf="actualArea != null">
      <mat-card-title>

        <div>{{actualArea.name}} </div>

      </mat-card-title>
      <mat-card-content>
        <span>{{actualArea.description}}</span>
        <div *ngIf="!rocksdto">
          <span>Es sind noch keine Felsen eingetragen</span>
        </div>
        <div *ngIf="rocksdto">
          <mat-card class="cards">
            <mat-card-title class="cardcontent">
              <div class="preview">
                <div class="titelwithcheck">
                  <div *ngIf="rocksdto[0].complete===true" class="material-icons">done</div>
                  <div *ngIf="rocksdto[0].complete===false" class="material-icons">highlight_off</div>
                  <div class="title">{{rocksdto[0].name}}</div>
                </div>
              </div>
              <div class="buttons">
                <button class="buttoninfo" mat-raised-button
                        (click)="saveParam(rocksdto[0].clientId, actualArea.name, rocksdto[0].name)" color="accent">Infos
                </button>
              </div>
            </mat-card-title>
          </mat-card>
          <div class="userNotLoggedInMessage">Da du nicht angemeldet bist, wird dir nur der erste Felsen dieses Gebietes als Beispiel angezeigt.</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="sessionUser != null">
    <div class="createform">
      <mat-accordion *ngIf="sessionUser.role == '[ROLE_ADMIN]'">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Neuen Fels erstellen
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              <form (ngSubmit)="createRock(form.value)" #form="ngForm">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" name="name" matInput placeholder="Name" ngModel required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Beschreibung</mat-label>
                    <textarea type="text" name="description" matInput placeholder="Beschreibung"
                              ngModel></textarea>
                  </mat-form-field>
                </p>
                <div class="submitbutton">
                  <button type="submit" mat-raised-button [disabled]="!form.valid">Erstellen</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-card class="overview" *ngIf="actualArea != null">
      <mat-card-title>

        <div>{{actualArea.name}} </div>

      </mat-card-title>
      <mat-card-content>
        <span>{{actualArea.description}}</span>
        <div class="updateform">
          <mat-accordion *ngIf="sessionUser.role == '[ROLE_ADMIN]'">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Gebiet bearbeiten
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-content>
                  <form (ngSubmit)="updateArea()">
                    <p>
                      <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input type="text" name="name" matInput placeholder="{{actualArea.name}}"
                               [(ngModel)]="actualArea.name">
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="fill">
                        <mat-label>Beschreibung</mat-label>
                        <textarea type="text" name="description" matInput placeholder="{{actualArea.description}}"
                                  [(ngModel)]="actualArea.description"></textarea>
                      </mat-form-field>
                    </p>
                    <div class="submitbutton">
                      <button type="submit" mat-raised-button>Bearbeiten</button>
                    </div>
                  </form>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="!rocksdto">
          <span>Es sind noch keine Felsen eingetragen</span>
        </div>
        <div *ngIf="rocksdto">
          <mat-card class="cards" *ngFor="let rock of rocksdto">
            <mat-card-title class="cardcontent">
              <div class="preview">
                <div class="titelwithcheck">
                  <div *ngIf="rock.complete===true" class="material-icons">done</div>
                  <div *ngIf="rock.complete===false" class="material-icons">highlight_off</div>
                  <div class="title">{{rock.name}}</div>
                </div>
                <div *ngIf="sessionUser != null && sessionUser.role == '[ROLE_ADMIN]'" style="font-size: 10px">Erstellt
                  am: {{rock.date}}</div>
              </div>
              <div class="buttons">
                <button class="buttoninfo" mat-raised-button
                        (click)="saveParam(rock.clientId, actualArea.name, rock.name)" color="accent">Infos
                </button>
                <button mat-raised-button *ngIf="sessionUser.role == '[ROLE_ADMIN]'"
                        (click)="deleteRock(rock.clientId, rock.name)" color="warn">Löschen
                </button>
              </div>
            </mat-card-title>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
