<div style="height: 95vh;">
  <mat-toolbar color="primary">
    <span [routerLink]="'/'">ClimBook</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button *ngIf="sessionUser !== null" [routerLink]="'/profile'" mat-raised-button>Profil</button>
      <button *ngIf="sessionUser !== null && sessionUser.role == '[ROLE_ADMIN]'" [routerLink]="'/useroverview'" mat-raised-button>Benutzer</button>
      <button [routerLink]="'/areas'" mat-raised-button> Alle Gebiete </button>
      <button *ngIf="sessionUser == null" [routerLink]="'/login'" mat-raised-button>Anmelden</button>
      <button *ngIf="sessionUser == null" [routerLink]="'/register'" mat-raised-button>Registrieren</button>
      <button (click)="securityService.logout()" *ngIf="sessionUser !== null" [routerLink]="'/'" mat-raised-button>Abmelden</button>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <mat-icon *ngIf="sidenav" (click)="sidenav.toggle()">menu</mat-icon>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <button (click)="sidenav.toggle()" *ngIf="sessionUser !== null" [routerLink]="'/profile'" mat-raised-button>Profil</button>
        <button (click)="sidenav.toggle()" *ngIf="sessionUser !== null && sessionUser.role == '[ROLE_ADMIN]'"
                [routerLink]="'/useroverview'" mat-raised-button>Benutzer</button>
        <button (click)="sidenav.toggle()" [routerLink]="'/areas'" mat-raised-button>Alle Gebiete</button>
        <button (click)="sidenav.toggle()" *ngIf="sessionUser == null" [routerLink]="'/login'" mat-raised-button>Anmelden</button>
        <button (click)="sidenav.toggle()" *ngIf="sessionUser == null" [routerLink]="'/register'" mat-raised-button>Registrieren</button>
        <button (click)="sidenav.toggle(); securityService.logout()" *ngIf="sessionUser !== null" [routerLink]="'/'"
                mat-raised-button>Abmelden</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
