<mat-card>
  <mat-card-title>Anmelden</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="login(form.value)" #form="ngForm">
      <p>
        <mat-form-field>
          <input type="text" name="username" matInput placeholder="Benutzername" ngModel required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" name="password" matInput placeholder="Passwort" ngModel required>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-raised-button [disabled]="!form.valid">Anmelden</button>
      </div>
      <div class="buttons">
        <div>Noch nicht registriert?</div>
        <button [routerLink]="['/register']" mat-raised-button>Registrieren</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
