<div>
  <div *ngIf="sessionUser == null">
    <mat-card class="overview" *ngIf="actualRoute != null">
      <mat-card-title>
        <div>{{actualRoute.name}} </div>
      </mat-card-title>
      <mat-card-content>
        <span>{{actualRoute.description}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="sessionUser != null">
    <mat-card class="overview" *ngIf="actualRoute.name != null">
      <mat-card-title>
        <div class="overview-title">
          <div>
            <div>{{actualRoute.name}} {{actualRoute.difficulty}}</div>
          </div>
          <div *ngIf="actualRoute.complete===true" (click)="setRouteDoneOrUndone()" class="material-icons">done</div>
          <div *ngIf="actualRoute.complete===false" (click)="setRouteDoneOrUndone()" class="material-icons">highlight_off</div>
        </div>
      </mat-card-title>
      <mat-card-content>{{actualRoute.description}}</mat-card-content>
      <div class="updateform">
        <mat-accordion *ngIf="sessionUser.role == '[ROLE_ADMIN]'">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Route bearbeiten
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <form (ngSubmit)="updateRoute()">
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Name</mat-label>
                      <input type="text" name="name" matInput placeholder="Name" [(ngModel)]="actualRoute.name">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Beschreibung</mat-label>
                      <input type="text" name="difficulty" matInput placeholder="Schwierigkeit"
                             [(ngModel)]="actualRoute.difficulty">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Beschreibung</mat-label>
                      <textarea type="text" name="description" matInput placeholder="Beschreibung"
                                [(ngModel)]="actualRoute.description"></textarea>
                    </mat-form-field>
                  </p>
                  <div class="submitbutton">
                    <button type="submit" mat-raised-button>Bearbeiten</button>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
</div>
