<div>
  <mat-card class="overview" *ngFor="let user of userDTO">
    <mat-card-title class="cardcontent">
      <div class="title">{{user.username}} {{user.role}} </div>
      <div class="buttons">
        <button class="buttonadmin" mat-raised-button
                *ngIf="sessionUser !== null && sessionUser.role == '[ROLE_ADMIN]' && user.role == 'ADMIN' && sessionUser.username !== user.username"
                (click)="changeUserRole(user.username, 'USER')">Zum User machen
        </button>
        <button class="buttonuser" mat-raised-button
                *ngIf="sessionUser !== null && sessionUser.role == '[ROLE_ADMIN]' && user.role == 'USER'"
                (click)="changeUserRole(user.username, 'ADMIN')">Zum Admin machen
        </button>
        <button class="buttondelete" mat-raised-button
                *ngIf="sessionUser !== null && sessionUser.role == '[ROLE_ADMIN]'"
                (click)="deleteUser(user.username)">Löschen
        </button>
      </div>
    </mat-card-title>
  </mat-card>
</div>
