@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.createform{
  margin: 10px 5% 20px;
}

.updateform{
  margin: 5%;
}


.buttoninfo {
  background-color: #ffd600;
  margin-right: 10px !important;
}

.buttoninfo:hover {
  background-color: #a98e49;
  margin-right: 10px !important;
}


.buttondelete {
  background-color: #d20404;
}

.buttondelete:hover {
  background-color: darkred;
}


.submitbutton{
  display: flex;
  justify-content: flex-end;
}


.buttons{
  display: flex;
  justify-content: flex-end;
}

.cards{
  margin: 10px;
}

.overview{
  margin: 0 5% 0;
}

.userNotLoggedInMessage{
  color: darkred;
  text-align: center;
}

.titelwithcheck{
  display: flex;
  justify-content: flex-start;
}

.preview{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title{
  flex-direction: column;
  margin-right: 5px;
}

.overview-title{
  display: flex;
  justify-content: space-between;
}

mat-expansion-panel-header {
  background-color: #38b3b7 !important;
}
mat-expansion-panel-header:hover {
  background-color: white !important;
}
