<div>
  <div class="createform" *ngIf="sessionUser != null && sessionUser.role == '[ROLE_ADMIN]'">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Neues Gebiet erstellen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <form (ngSubmit)="createArea(form.value)" #form="ngForm">
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input type="text" name="name" matInput placeholder="Name" ngModel required>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Beschreibung</mat-label>
                  <textarea type="text" name="description" matInput placeholder="Beschreibung"
                            ngModel></textarea>
                </mat-form-field>
              </p>
              <div class="submitbutton">
                <button type="submit" mat-raised-button [disabled]="!form.valid">Erstellen</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-card class="overview" *ngFor="let area of areas">
    <mat-card-title class="cardcontent">
      <div class="title">{{area.name}}</div>
      <div *ngIf="sessionUser != null && sessionUser.role == '[ROLE_ADMIN]'" style="font-size: 10px">Erstellt am: {{area.date}}</div>
      <div class="buttons">
        <button class="buttoninfo" mat-raised-button (click)="saveParam(area.clientId, area.name)">Infos
        </button>
        <button class="buttondelete" mat-raised-button *ngIf="sessionUser != null && sessionUser.role == '[ROLE_ADMIN]'"
                (click)="deleteArea(area.clientId, area.name)">Löschen
        </button>
      </div>
    </mat-card-title>
  </mat-card>
</div>
