<mat-card>
  <mat-card-title>Registrierung</mat-card-title>
  <mat-card-content>
    <form novalidate (ngSubmit)="register(form.value)" #form="ngForm">
      <p>
        <mat-form-field>
          <input type="text" name="username" matInput placeholder="Username" ngModel required> <!--minlength="4" #name="ngModel"-->
        </mat-form-field>
      </p>
<!--      <div *ngIf="name.invalid && (name.dirty || name.touched)"-->
<!--           class="alert alert-danger">-->

<!--        <div *ngIf="name.errors.required">-->
<!--          Name is required.-->
<!--        </div>-->
<!--        <div *ngIf="name.errors.minlength">-->
<!--          Name must be at least 4 characters long.-->
<!--        </div>-->

<!--      </div>-->

      <p>
        <mat-form-field>
          <input type="password" name="password1" matInput placeholder="Password" ngModel required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" name="password2" matInput placeholder="Password wiederholen" ngModel required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="email" name="email" matInput placeholder="E-Mail" ngModel required>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit"  mat-raised-button [disabled]="!form.valid">Registrieren</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
